<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/Header.css">
</head>
<body>
   <div class="Header">
   		<li class="Header__item">
   			<div clas="Header__item__container">
   				<a href="https://shielded-savannah-17659.herokuapp.com/Auth/SignUp" class="Header__item__text">Регистрация</a>
   			</div>
   		</li>
   		<li class="Header__item">
   			<div clas="Header__item__container">
   				<a href="https://shielded-savannah-17659.herokuapp.com/Auth/Login" class="Header__item__text">Войти</a>
   			</div>
   		</li>
   		<li class="Header__item">
   			<div clas="Header__item__container">
   				<a href="https://shielded-savannah-17659.herokuapp.com/Api/Main" class="Header__item__text">Наука</a>
   			</div>
   		</li>
   		<li class="Header__item">
   			<div clas="Header__item__container">
   				<a href="https://shielded-savannah-17659.herokuapp.com/Api/astrophysics" class="Header__item__text">Астрофизика</a>
   			</div>
   		</li>
      <li class="Header__item">
        <div clas="Header__item__container">
          <a href="https://shielded-savannah-17659.herokuapp.com/Secret" class="Header__item__text">Секретная комната гачистов</a>
        </div>
      </li>
   </div>
</body>
<html>