<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
</head>
<body>
	<%- include("./Header.ejs")%>
    <h1>Secret welcome</h1>
    <p><%=user %></p>
</body>
<html>