<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/Blog.css">
</head>
<body>
    <div id="app">
        <h1>Список Пользователей</h1>
        <div class="container">
            <div v-for="(item,index) in Users" :key="index" class="container__item" >
                <div >Имя:{{item.Name}}</div>
                <div >Email:{{item.Email}}</div>
            </div>
        </div>
    </div>



<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/js/Users.js"></script>
</body>
<html>